




.logo-text{
position: absolute;
left: 8.00%;
right: 78.06%;
top: 5.06%;
bottom: 98.43%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;

color: #233348;

mix-blend-mode: normal;

}
.eclipse7{
position: absolute;
width: 41px;
height: 41px;
left: 108px;
top: 29px;

background: #458FF6;
}

.home{
position: absolute;
left: 53.94%;
right: 42.88%;
top: 1.19%;
bottom: 98.42%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* 1f1534-hyfen */

color: #1F1534;

}

.doctor{
    position: absolute;
    left: 59.62%;
    right: 33.5%;
    top: 1.19%;
    bottom: 98.42%;
    
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    
    /* 1f1534-hyfen */
    
    color: #1F1534;
    
    opacity: 0.5;
}

.apps{
position: absolute;
left: 69%;
right: 28.25%;
top: 1.19%;
bottom: 98.42%;

font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* 1f1534-hyfen */

color: #1F1534;

opacity: 0.5;
}

.testimonials{
position: absolute;
left: 74.25%;
right: 19.25%;
top: 1.19%;
bottom: 98.42%;

font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* 1f1534-hyfen */

color: #1F1534;

opacity: 0.5;
}

.about{
position: absolute;
left: 83.25%;
right: 12%;
top: 1.19%;
bottom: 98.42%;

font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* 1f1534-hyfen */

color: #1F1534;

opacity: 0.5;
}

.headertext{
position: absolute;
left: 5.75%;
right: 86.19%;
top: 1.04%;
bottom: 98.42%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 33px;

color: #080606;

mix-blend-mode: normal;
}


.Illustration{
position: absolute;
left: 46.5%;
right: 8.19%;
top: 5.02%;
bottom: 86.8%;

}

.Headertext_h1{
position: absolute;
left: 13.88%;
right: 61.44%;
top: 13.82%;
bottom: 93.27%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 56px;
/* or 117% */


color: #000000;

mix-blend-mode: normal;
}



.Headertext_p{
position: absolute;
left: 11.88%;
right: 60.31%;
top: 33.00%;
bottom: 91.21%;

font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 32px;
/* or 152% */


color: #7D7987;

}

.Headertext_button{
position: absolute;
left: 11.88%;
right: 75.62%;
top: 50.61%;
bottom: 43.44%;

background: #458FF6;
border-radius: 55px;
}



.Headertext_button_h2{



    color: #FFFFFF;

}


.vector_1{
    position: absolute;
    left: 0.11%;
    right: 96.79%;
    top: 8.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}



.vector_2{
    position: absolute;
    left: 0.11%;
    right: 96.79%;
    top: 12.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}



.vector_3{
    position: absolute;
    left: 0.11%;
    right: 96.79%;
    top: 16.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}



.vector_4{
    position: absolute;
    left: 0.11%;
    right: 96.79%;
    top: 20.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}



.vector_5{
    position: absolute;
    left: 0.11%;
    right: 96.79%;
    top: 24.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}

.vector_6{
position: absolute;
left: 1.55%;
right: 96.79%;
top: 8.00%;
bottom: 97.1%;

background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}
.vector_7{
    position: absolute;
    left: 1.55%;
    right: 96.79%;
    top: 12.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}



.vector_8{
    position: absolute;
    left: 1.55%;
    right: 96.79%;
    top: 16.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}

.vector_9{
    position: absolute;
    left: 1.55%;
    right: 96.79%;
    top: 20.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}


.vector_10{
    position: absolute;
    left: 1.55%;
    right: 96.79%;
    top: 24.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}


.vector_11{
    position: absolute;
    left: 2.99%;
    right: 90.79%;
    top: 8.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}


.vector_12{
    position: absolute;
    left: 2.99%;
    right: 90.79%;
    top: 12.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}

.vector_13{
    position: absolute;
    left: 2.99%;
    right: 90.79%;
    top: 16.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}

.vector_14{
    position: absolute;
    left: 2.99%;
    right: 90.79%;
    top: 20.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}

.vector_15{
    position: absolute;
    left: 2.99%;
    right: 90.79%;
    top: 24.00%;
    bottom: 97.1%;
    
    background: linear-gradient(338.5deg, #97C3F9 -705.51%, #93C1F9 738.54%);
}








